*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;


}
.container{
    display: flex;
    /* flex-basis: 70%; */
    background-color: rgb(30, 30, 65);
    flex-direction: column;
    /* gap: 2em; */
    margin-top: 10px;
    padding: 2em;
}
.header{
    display: flex;
    /* background-color: aqua; */
    /* flex-basis: 100%; */
    padding: 1.2em;
    color: white;

}
.Resources{
    color: blue;
}
.headerColumn1{
    flex: 1;
    /* background-color: blue; */
}
.headerColumn2{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 1.2em;
}
.headerRow{
    display: flex;
    /* justify-content: end; */
}

.mainBody{
    display: flex;
    /* flex-basis: 50%; */
    border-radius: 15px;
    background-color: aqua;
    
}
.row{
    flex: 1;
    display: flex;
    /* box-shadow: 1px 1px 1rem 1px rgb(127); */
    /* border: 2px solid black; */
    padding: 2em;
    /* margin: 10px; */
    
    
}
.row1{
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 20px;
   /* align-items: center; */
   border-right: 1px solid blue;
}
.row2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 1.2em;
}
.row2 .image{
    background-image: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZHlpbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-repeat: no-repeat;
    height: 8em;
    background-size: cover;
    border-radius: 10px;
}
.developers{
   color: white;
}
.docs{
    background-color:aliceblue;
    border-radius: 5px;
}
